        <div id="menu">
            <ul>
            	<li><%=link_to "Home", "/"  %></li>
                <li><%=link_to "Blog", blog_path  %></li>
				<li><%=link_to "Drafts", blog_drafts_path  %></li>
				<li><%=link_to "Contacts", :controller => 'home', :action => 'contacts' %></li>
            </ul>
        </div>
		
        <div id="header">
        	<p>Mike Chaliy's Personal Site</p>
			<a class="rss" type="application/atom+xml" title="Mike Chaliy, Blog" href="<%= blog_syndication_url %>" >My RSS Feed.</a>	
		</div>
	       	