<h1>Editing entry</h1>

<% form_for(@entry, :url => { :action => "update" }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :pubDate %><br />
    <%= f.date_select :pubDate %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', admin_entry_path(@entry) %> |
<%= link_to 'Back', admin_entries_path %>