<h1>Listing entries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Pubdate</th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%=h entry.title %></td>
    <td><%=h entry.content %></td>
    <td><%=h entry.pubDate %></td>
    <td><%= link_to 'Show', admin_entry_path(entry) %></td>
    <td><%= link_to 'Edit', edit_admin_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', admin_entry_path(entry), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New entry', new_admin_entry_path %>